# Supabase Configuration
SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3cHdpeHJrdmlkanFycmpoYW5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMDY2MzgsImV4cCI6MjA4OTY4MjYzOH0.TWJlbGqo6_YHVA3DR8vfmkzPpiOeCt8UO56R83Ks9Kw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3cHdpeHJrdmlkanFycmpoYW5kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDEwNjYzOCwiZXhwIjoyMDg5NjgyNjM4fQ.CYEy9uzwMujHqMEa3FeRr21HUn8UfCMmFkkhpxD947s

# Authentication
JWT_SECRET=OE7xAOxxxusPDcWuf4tuWzfFnBDRt7SF5A5bH/2qLUs=

SENTRY_DSN=https://35ee2de60aacd8217b5bb96779d106ac@o4511072180371456.ingest.us.sentry.io/4511072193740800
LOGFLARE_API_KEY=PUHaKvTHgOYx


OPENAI_API_KEY=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


TWILIO_AUTH_TOKEN=107d73bb662602f5b4c2e525bb6d25d6
TWILIO_WHATSAPP_NUMBER=+13502353545  
TWILIO_ACCOUNT_SID=ACddd03858e6122c4a8ac2d91957d5b5ec



# Payments / Razorpay
RAZORPAY_KEY_ID=rzp_test_SRDKztRUTUPLnP

RAZORPAY_KEY_SECRET=MTblEz21iz6WRf78aFc7XSdF


# Application URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000
PORT=3000
